.breakdown-block {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 20px 0px;
}

.breakdown-block-header {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0px 10px 0px;
    height: 30px;
}

.breakdown-block-title {
    line-height: 30px;
}