.page-head-block {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 900;
}

.page-head-texts {
    position: relative;
    display: flex;
    flex-direction: column;
}

.page-head-title {
    font-size: 32px;
    color: #6260F4;
}

.page-head-date {
    font-size: 14px;
}

.page-head-date > span {
    margin-right: 2px;
    margin-left: 2px;
}

.page-head-btn {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 0px;
}

.page-head-btn > button {
    margin: 5px 0px 0px 0px ;
    height: 100%;
    width: 100%;
    padding: 2px;
    opacity: 0.75;
}

.page-head-btn > button > img {
    width: 100%;
    height: 100%;
}